*{
    margin: 0;
    padding: 0;
    background-color: rgb(238, 186, 55);
}
img{
    top: 40px; 
    right: 40px;
    position: relative;
    left: 400px;
 }
#título{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(85, 82, 79);
    margin-left: 25%;
}
#explicação{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: slategray;
    margin-left: 1%;
}
